.nav-item {
text-shadow: 0cap;
}

.navbar-brand{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    text-align: start;
    box-sizing: border-box;
    
}



footer {
background-color: rgb(50, 50, 241);
font-style:italic;
font-family: 'Courier New', Courier, monospace;
text-align-last: auto;
font-weight: 400;
font-size-adjust:initial;
color: white;

}

.nav-item {
    box-sizing:content-box;
    padding-inline: 20px;
   font-family: fantasy;
 
   text-shadow: 3mm;
   margin-inline-start:initial;
   
   border-right: 6cap;
   text-shadow: rgb(49, 53, 53);
   text-anchor:middle ;
}

header{

    background-color: rgb(65, 61, 61);
    display: flex;
}

form {
background-color:rgb(177, 228, 241) ;
}
.form-control{
    font-style: oblique;
}
formButton {
    font-weight: 200;
    border-radius: 15%;
    border-bottom: thick;
    background-size: contain;
    background-color: green;
    text-decoration: dotted;
}

/* class="carousel-inner" {

    
} */